* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto';
  background: url('Tomatoes.jpg') no-repeat;
  /*background: rgba(248,80,50,1);
  background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 39%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 74%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(39%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(74%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 39%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 74%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 39%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 74%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 39%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 74%, rgba(231,56,39,1) 100%);
  background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 39%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 74%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );*/
}

@font-face{
 font-family:'digital-clock-font';
 src: url('put_the_location_to_your_font.ttf or .otf');
}

#pomo-text {
    font-size: 55px;
    margin-top: 55px;
    opacity: 0.6;
    color: white;
}

.well {
    width: 40%;
    margin: 40px auto;
    padding: 80px;
    text-align: center;
    opacity: 0.6;
    border-radius: 50%;
}

#session div {
    display: inline;
}

#break div {
    display: inline;
}

#break h3, #session h3 {
  margin-top: 0;
}

#set-time, #set-break {
  font-size: 20px;
  padding: 0 5%;
  font-family: 'Orbitron', sans-serif;
}

.controls div {
  width: 25%;
  display: inline-block;
}

#current-event {
    font-size: 40px;
}

#time {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin-bottom: 5%;
}

.controls {
    margin: 0 auto;
}

.controls div {
    display: inline-block;
    /*padding: 10px;*/
    width: 23%;
}
